In [1]:
import pandas as pd
import numpy as np
import os
os.chdir('c:/onedrive/jupyter/script/参考脚本/data/')

# 1. pandas基本介绍及基本功能

### 1.1 Series
系列(Series)是能够保存任何类型的数据(整数，字符串，浮点数，Python对象等)的一维标记数组。轴标签统称为索引。

pandas.Series(data,index,dtype,copy)
- data:数据采取各种形式，如：ndarray,list,constants
- index:索引值必须是唯一的和散列的，与数据的长度相同。如果没有所有被传递，默认np.arange(n)
- dtype:用于数据类型。如果没有，将推断数据类型
- copy:复制数据，默认为false

#### 1.1.1 创建Series

可以使用各种输入创建一个系列，如：数组、字典、标量值或常数

In [2]:
# 创建一个空的Series
s = pd.Series()
s

Series([], dtype: float64)

In [40]:
# 从ndarray创建一个Series
# index参数自定义索引
# 如果index参数，将默认分配了从0到len(data)-1的索引
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
s

100    a
101    b
102    c
103    d
dtype: object

In [41]:
# 从字典中创建一个Series
# 注意，字典键用于构建索引
data = {'a':0.,'b':1.,'c':2.}
s = pd.Series(data,index=['b','c','d','a'])  # 索引顺序保持不变，缺少的元素使用NaN（不是数字）填充
s

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [7]:
# 从标量创建一个Series
s = pd.Series(5,index=[0,1,2,3])
s

0    5
1    5
2    5
3    5
dtype: int64

#### 1.1.2 Series的数据访问
系列（Series）中的数据可以使用类似于访问ndarray中的数据来访问。

In [10]:
# 从具有位置的Series中访问数据
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[0])  # 检索第一个元素
print(s[:3]) # 检索Series中前三个元素
print(s[-3:]) # 检索最后三个元素

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [14]:
# 使用标签检索数据
# 一个Series就像一个固定大小的字典，可以通过索引标签获取和设置值

s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'])  # 使用索引标签值检索单个元素
print(s[['a','b','c']]) # 使用索引标签值检索多个元素

# 注意，如果索引不存在的标签，则会报错

1
a    1
b    2
c    3
dtype: int64

#### 1.1.3 Series 基本功能对象

基本功能如下所示：


| 属性或方法 | 描述                            |
| ---------- | ------------------------------- |
| axes       | 返回行轴标签列表                |
| dtype      | 返回对象的数据类型（dtype）     |
| empty      | 如果系列为空，则返回True        |
| ndim       | 返回底层数据的维数，默认定义：1 |
| size       | 返回基础数据中的元素数          |
| values     | 将系列作为 ndarray返回          |
| head()     | 返回前n行                       |
| tail()     | 返回最后n行                     |

In [3]:
s = pd.Series(np.random.randn(4))
print(s.axes) # 返回Series的标签列表
print(s.empty) # 返回布尔值，表示对象是否为空
print(s.ndim) # 返回对象的维数
print(s.size) # 返回Series的大小
print(s.values) # 以数组形式返回Series中的实际数据值

[RangeIndex(start=0, stop=4, step=1)]
False
1
4
[-1.28692519  0.89484449  2.00860241 -0.72704536]

In [51]:
s.head(2) # 显示前2行

0    0.937618
1   -0.153430
dtype: float64

In [52]:
s.tail(2) # 返回最后2行

2   -1.858608
3   -0.948485
dtype: float64

### 1.2 DataFrame
数据帧(DataFrame)是二维数据结构，即数据以行和列的表格方式排列。

数据帧(DataFrame)的功能特点:
- 潜在的列是不同的类型
- 大小可变
- 标记轴（行和列）
- 可以对行和列执行算术运算

#### 1.2.1 DataFrame创建

pandas.DataFrame(data,index,columns,dtype,copy)
- data: 数据采用各种形式，如:ndarray,series,map,lists,dict,constant和另一个DataFrame
- index:对于行标签，要用于结果帧的索引是可选缺省值,如果没有传递，默认为np.arange(n)
- columns:列标签，如果没有传入索引，则默认np.arange(n)
- dtype:每列的数据类型
- copy:默认值为False，则此命令用于复制数据

DataFrame可以使用各种输入创建，如：列表、字典、Series、ndarrays、另一个DataFrame

In [16]:
# 创建一个空的DataFrame
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [17]:
# 从列表创建DataFrame
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
#

In [20]:
#传入多个列
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype = float) #dtype将Age列的类型更改为浮点
df

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [4]:
# 从ndarrays/Lists的字典来创建DataFrame
# 所有的ndarrays必须具有相同的长度。如果传递了索引（index），则索引的长度应等于数组的长度。

data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])  # 通过index参数，设置index的名字，也可以使用默认索引
df

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [24]:
# 从列表创建DataFrame
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data) # NaN附加在缺失的区域
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [4]:
# 从Series的字典来创建DataFrame
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}

df = pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

### 1.2.2 快速构建一个dataframe

#### 简单案例

In [3]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  0.871694  0.484432  0.417789
1 -1.519015  0.100457 -0.601157
2 -0.775876  0.155260 -0.773282
3 -0.585477 -0.683943  0.376762
4 -1.556913  0.874775  0.711300

#### 复杂案例

In [ ]:
d1 = np.arange(1,10).reshape(3,3)
data1 = pd.DataFrame(d1,index=["a","b","c"],columns=["one","two","three"])
d2 = np.arange(1,10).reshape(3,3)
data2 = pd.DataFrame(d2,index=["a","b","e"],columns=["one","two","four"])

In [73]:
from datetime import datetime
data_name = ['Tom','Mary','Jim','Steven','Nick'] 
#直接使用datetime定义，不需要转换
date_sigh =[datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,9)]
#使用pd.date_range生成的是索引，需要转换
date_check_index = pd.date_range('1/1/2019',periods=5)#日期序列，是一个datetimeindex类型详情见时间序列部分
date_check = date_check_index.to_pydatetime()
data1 = np.random.randn(5,2)
data2 = np.arange(1,6)
#组合
data= np.c_[data_name,date_sigh,date_check,data1,data2]
#按列连接数据，左右相加
#np.c_[data1,data2]
#np.r_ 按行连接，上下相加
#np.r_[data1,data2.reshape(1,5)]
index_name = ['name','date_sigh','date_check','value1','value2','rank']

pd.DataFrame(data,columns=index_name)

     name  date_sigh date_check   value1    value2 rank
0     Tom 2011-01-02 2019-01-01  1.14388  0.640359    1
1    Mary 2011-01-05 2019-01-02 -2.59887   -1.2088    2
2     Jim 2011-01-07 2019-01-03 -2.06136   1.09533    3
3  Steven 2011-01-08 2019-01-04 -1.02019  -1.23413    4
4    Nick 2011-01-09 2019-01-05 -1.43143 -0.532078    5

### 1.2.3 DataFrame基本功能对象和方法

基本功能如下所示：

| 属性或方法 | 描述                             |
| ---------- | -------------------------------- |
| T          | 转置行和列。                     |
| axes       | 返回行轴标签和列轴标签列表       |
| dtypes     | 返回此对象中的数据类型（dtypes） |
| empty      | 如果 DataFrame为空，则返回True   |
| ndim       | 轴/数组维度大小                  |
| shape      | 返回表示 DataFrame的维度的元组   |
| size       | 返回 Data Frame中的元素数        |
| values     | 返回 DataFrame的值               |
| head()     | 返回开头前n行                    |
| tailo      | 返回最后n行                      |

In [5]:
# 生成样例数据
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Minsu','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df = pd.DataFrame(d)
df

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Minsu   29    4.60
6   Jack   23    3.80

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
Name      7 non-null object
Age       7 non-null int64
Rating    7 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 296.0+ bytes

In [56]:
df.axes # 返回行轴标签和列轴标签列表

[RangeIndex(start=0, stop=7, step=1),
 Index(['Name', 'Age', 'Rating'], dtype='object')]

In [63]:
df.shape # 返回DataFrame的维度元组

(7, 3)

In [62]:
df.ndim # 返回对象的维度

2

In [59]:
df.dtypes # 返回每列的数据类型

Name       object
Age         int64
Rating    float64
dtype: object

In [64]:
df.size # 返回DataFrame中的元素数

21

In [65]:
df.values # 将DataFrame中的实际数据作为NDarray返回

array([['Tom', 25, 4.23],
       ['James', 26, 3.24],
       ['Ricky', 25, 3.98],
       ['Vin', 23, 2.56],
       ['Steve', 30, 3.2],
       ['Minsu', 29, 4.6],
       ['Jack', 23, 3.8]], dtype=object)

In [6]:
# T 转置
df.T

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Minsu  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [66]:
df.head()  # 显示前5行

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20

In [7]:
df.tail(2) # 显示最后2行

    Name  Age  Rating
5  Minsu   29     4.6
6   Jack   23     3.8

In [60]:
df.empty # 表示对象是否为空

False