In [2]:
tu = (1, 2)
tu2 = (1, )
tu3 = 1, 2, 3, 4
print(tu3)
print(type(tu3))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
tu[0]

1

In [6]:
tu = (1,2,['a','b'],3)
tu[2].append('c')
tu[0] =2
tu

TypeError: 'tuple' object does not support item assignment

In [8]:
tu1 = (1,2)
tu2 = (1,)
tu3 = 1,2,3,4
tu1 + tu2
tu1*3

(1, 2, 1, 2, 1, 2)

In [ ]:
# int float bool
# str
# tuple
# list
# set
# dict

In [9]:
s = 'abcd'
tuple(s)

('a', 'b', 'c', 'd')

In [10]:
a = 1.1
int(a)

1

In [11]:
a = (1,2,3,3,4,5,5,5,6,)
a.count(5)

3

In [14]:
l1 = [1,2,3,4]
l2 = list(range(1,5,1))
print(l1)
print(l2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [16]:
1 not in l1

False

In [30]:
l1 = [1,2,3,4]
l2= [7,8,9]
l1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
l1[-3]

2

In [35]:
l1 = list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
l1[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
len(l1)

10

In [39]:
min(l1)

1

In [40]:
max(l1)

10

In [43]:
l = ['a','b','c']
max(l)

'c'

In [44]:
l = [1,2,3,4,5,5]
l.count(5)

2

In [47]:
tu =(1,2,3)
l=[3,2,1]
l[0] = 4
l.append(0)
l

[4, 2, 1, 0]

In [49]:
l = [1,2,3,4]
l.insert(3,0)
l

[1, 2, 3, 0, 4]

In [ ]:
[1,2,3,4]   [4,5,6]  3

In [92]:
l1 = [1, 2, 3, 4]
l2 = [4, 5, 6]
tu = (7, 8, 9)
num = 5
l1.extend([num])
l1

[1, 2, 3, 4, 5]

In [56]:
a = (1,2,3)
[a]

[(1, 2, 3)]

In [ ]:
+
+=
extend
append

In [65]:
l1 = [1,2,3,4]
l2 = [7,8,9]
l1 += l2
l1, l2

([1, 2, 3, 4, 7, 8, 9], [7, 8, 9])

In [66]:
l1 = [1,2,3,4]
l2 = [7,8,9]
l1.extend(l2)
l1,l2

([1, 2, 3, 4, 7, 8, 9], [7, 8, 9])

In [68]:
l1 = [1,2,3,4]
l2 = [7,8,9]
l1.append(l2)
l1,l2

([1, 2, 3, 4, [7, 8, 9]], [7, 8, 9])

In [74]:
l1 = [1,2,3,4]
del l1[0]
l1

[2, 3, 4]

In [79]:
l1 = [1,2,5,3,7,4,1]
l1.sort(reverse=True)

In [82]:
l1 = [1,2,5,  3,7,4,1]
sorted(l1,reverse=True)

[7, 5, 4, 3, 2, 1, 1]

In [84]:
l1 = [1,2,'a','b',3,4]
l1[::-1]

[4, 3, 'b', 'a', 2, 1]

In [90]:
l1 = [1,2,'a','b',3,4]
l1.reverse()
l1

[4, 3, 'b', 'a', 2, 1]

In [91]:
l1.index('a')

3

In [ ]:
reversed(l1)